* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.countries_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 1px 1px 10px 5px rgb(187, 187, 187);
}
.countries_header_theme_toggle {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  padding-left: 3rem;
  background-color: white;
  background-image: url(files/design/moon.png);
  background-size: 1rem;
  background-position: 1.3rem center;
  background-repeat: no-repeat;
  font-weight: 600;
  font-family: "Nunito Sans";
  cursor: pointer;
}
.countries_header_theme_toggle:hover {
  border: 1px solid rgb(119, 117, 117);
}
.country {
  display: flex;
  justify-content: left;
  margin-left: 9rem;
  gap: 8rem;
  width: 100%;
}
.back-btn {
  border-radius: 0.5rem;
  border: none;
  margin: 4rem 9rem;
  padding: 1rem 2rem;
  width: 3rem;
  padding-left: 3.5rem;
  background-color: rgb(236, 234, 234);
  background-image: url(files/design/back-arrow.png);
  background-size: 1rem;
  background-position: 1.3rem center;
  background-repeat: no-repeat;
  font-weight: 600;
  font-family: "Nunito Sans";
  cursor: pointer;
}
a {
  all: unset;
}
.country_description {
  display: flex;
  gap: 10rem;
}
p {
  line-height: 1.5rem;
}
